.Block {
	margin-bottom: 80px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;
	height: 700px;


	.Block_row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1050px;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		height: 700px;

	}

	.p {
		color: #ffffffad;
		font-size: 22px;
		font-family: "Work Sans", sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		padding-bottom: 40px;
		line-height: 40px;

	}
	.p2 {
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-family: "Work Sans", sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-right: 20px;
		transform: scale(1);
		transition: 0.7s;

	}
	h3 {
		color: rgb(255, 255, 255);
		font-size: 38px;
		font-family: "Work Sans", sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		padding-bottom: 20px;
	}

	.block_1 {
		display: flex;
		width: 1050px;
		justify-content: space-between;
		align-items: center;
		height: 91px;
	}

	.block_1_2 {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		max-width: 403px;
		margin-top: 30px;
	}

	.Cards {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1050px;
		height: 469px;
		flex-wrap: wrap;
	}
	.Get_Started {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 40px;
		padding-right: 30px;
		padding-top: 19px;
		padding-bottom: 19px;
		border-radius: 20px;
		background:none;
		background-size: 400% 400%;
		animation: sign_up 7s ease infinite;
		transition: 0.7s;
		width: 187px;
		max-height: 60px;
		border: 2px solid #A259FF;

	}

	.Get_Started:hover {
		animation: none;
		transform: scale(1.1);
	}
}